:root {
  --light-red-light: #FF3B30;
  --dark-red-light: #f71e46;
  --orange-light: #ff8c00;
  --yellow-light: #FFCC00;
  --green-light: #34C759;
  --cyan-light: #5AC8FA;
  --blue-light: #0066ff;
  --purple-light: #5856D6;
  --violet-light: #AF52DE;
  
  --light-red-dark: #FF453A;
  --dark-red-dark: #e43558;
  --orange-dark: #d88c1a;
  --yellow-dark: #FFD60A;
  --green-dark: #32D74B;
  --cyan-light: #64D2FF;
  --blue-dark: #0b6ac9;
  --purple-dark: #5E5CE6;
  --violet-dark: #BF5AF2;

  --primary: #1976D2;
  --secondary: #26A69A;
  --accent: #9C27B0;

  --positive: #21BA45;
  --negative: #C10015;
  --info: #31CCEC;
  --warning: #F2C037;

  --primary-dark: #1565C0;
  --secondary-dark: #1E8E78;
  --accent-dark: #7B1FA2;

  --positive-dark: #1B8E3E;
  --negative-dark: #A30013;
  --info-dark: #2587A5;
  --warning-dark: #C4901E;

  --background-light: #f7f7f7;
  --background-a-light: #cde2ec;
  --background-b-light: #6b98ab;
  --background-c-light: #f7f7f7;
  --background-d-light: #d2d2d2;
  --background-e-light: #e5e5e5;
  --text-light: #222222;
  --text-a-light: #2b7a78;
  --button-bg-light: #3aafa9;
  --button-text-light: #090909;
  --button-hover-bg-light: #2b7a78;
  --button-hover-text-light: #e5e5e5;
  --card-bg-light: #def2f1;
  --card-text-light: #090909;
  --input-bg-light: #acdddb;
  --input-text-light: #090909;
  --toolbar-bg-light: #6b98ab;
  --toolbar-text-light: #090909;
  --table-bg-light: #f7f7f7;

  --background-dark: #161616;
  --background-a-dark: #364851;
  --background-b-dark: #1a323c;
  --background-c-dark: #5c6b73;
  --background-d-dark: #d2d2d2;
  --background-e-dark: #f7f7f7;
  --text-dark: #f9f9f9;
  --text-a-dark: var(--color-teal-2);;
  --button-bg-dark: #2b7a78;
  --button-text-dark: #e5e5e5;
  --button-hover-bg-dark: #3aafa9;
  --button-hover-text-dark: #090909;
  --card-bg-dark: #17252a;
  --card-text-dark: #3aafa9;
  --input-bg-dark: var(--color-teal-10);
  --input-text-dark: #e5e5e5;
  --toolbar-bg-dark: #1a323c;
  --toolbar-text-dark: #def2f1;
  --table-bg-dark: #5c6b73;
}

[data-theme='light'] {
  --background: var(--background-light);
  --background-a: var(--background-a-light);
  --background-b: var(--background-b-light);
  --background-c: var(--background-c-light);
  --background-d: var(--background-d-light);
  --background-e: var(--background-e-light);
  --text: var(--text-light);
  --text-a: var(--text-a-light);
  --button-bg: var(--button-bg-light);
  --button-text: var(--button-text-light);
  --button-hover-bg: var(--button-hover-bg-light);
  --button-hover-text: var(--button-hover-text-light);
  --card-bg: var(--card-bg-light);
  --card-text: var(--card-text-light);
  --input-bg: var(--input-bg-light);
  --input-text: var(--input-text-light);
  --toolbar-bg: var(--toolbar-bg-light);
  --toolbar-text: var(--toolbar-text-light);
  --table-bg: var(--table-bg-light);

  --light-red: var(--light-red-light);
  --dark-red: var(--dark-red-light);
  --orange: var(--orange-light);
  --yellow: var(--yellow-light);
  --green: var(--green-light);
  --cyan: var(--cyan-light);
  --blue: var(--blue-light);
  --purple: var(--purple-light);
  --violet: var(--violet-light);
}

[data-theme='dark'] {
  --background: var(--background-dark);
  --background-a: var(--background-a-dark);
  --background-b: var(--background-b-dark);
  --background-c: var(--background-c-dark);
  --background-d: var(--background-d-dark);
  --background-e: var(--background-e-dark);
  --text: var(--text-dark);
  --text-a: var(--text-a-dark);
  --button-bg: var(--button-bg-dark);
  --button-text: var(--button-text-dark);
  --button-hover-bg: var(--button-hover-bg-dark);
  --button-hover-text: var(--button-hover-text-dark);
  --card-bg: var(--card-bg-dark);
  --card-text: var(--card-text-dark);
  --input-bg: var(--input-bg-dark);
  --input-text: var(--input-text-dark);
  --toolbar-bg: var(--toolbar-bg-dark);
  --toolbar-text: var(--toolbar-text-dark);
  --table-bg: var(--table-bg-dark);

  --light-red: var(--light-red-dark);
  --dark-red: var(--dark-red-dark);
  --orange: var(--orange-dark);
  --yellow: var(--yellow-dark);
  --green: var(--green-dark);
  --cyan: var(--cyan-dark);
  --blue: var(--blue-dark);
  --purple: var(--purple-dark);
  --violet: var(--violet-dark);
}
